<section class="new-user" id="new-user">
    <div class="container">
        <div class="title-new-user">
            <div class="row">
                <div class="col-12">
                    <h2>Atualizar Cadastro</h2>
                </div>
                <div class="col-md-6" style="margin: 0 auto;">
                    <div class="row-effect">
                        <p>Preencha o Formulário</p>
                    </div>
                </div>
            </div>
        </div>    
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <mat-form-field>
                                <mat-label>Usuário</mat-label>
                                <input type="text" class="form-control" matInput [(ngModel)]="cadastro.usuario" name="usuario">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Senha</mat-label>
                            <input type="password" class="form-control" matInput [(ngModel)]="cadastro.senha" name="senha">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-12 d-flex justify-content-center" style="margin: 0 auto;">
                            <hr class="mb-4">
                            <div class="col-12 col-md-4 p-0">
                                <button class="btn btn-cadastrar" color="warn" (click)="updateCadastro()">Atualizar</button>
                            </div>
                            <div class="col-12 col-md-3 p-0">
                                <button class="btn btn-cadastrar" color="accent" (click)="cancelCadastro()">Cancelar</button>
                            </div>
                            <div class="col-12 col-md-5 p-0">
                                <button class="btn btn-cadastrar" color="accent" (click)="tabelaCadastro()">Todos os Cadastros</button>
                            </div>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</section>



<app-footer></app-footer>

